.game {
  position: relative;
}
#tetris-play {
  position: relative;
  @include display-flex;
  @include flex-props(row wrap, center, center, center);
  min-height: 500px;
  height: 90vh;
  color: #fff;
  padding: 0;
}

#versus {
  .game-holder {
    display: inline-block;
    vertical-align: middle;
  }
  .score {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .game {
    width: 250px;
    height: 500px;
  }
  .vs {
    display: inline-block;
    font-size: 32px;
    padding: 20px;
    vertical-align: middle;
  }
}